@import '../../styles.scss';

#step-07 {
  .form-container {
    margin-top: 0;
  }
  .row {
    //margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
    h3, h4, p {
      padding: 0 15px;
      margin-bottom: 30px;
      line-height: 1.45;
    }
    h3 {
      text-align: center;
      width: 100%;
      margin-bottom: 25px;
      @media screen and (max-width: 400px) {
        margin-bottom: 5px;
      }
    }
    button {
      margin-left: 15px;
      margin-bottom: 30px;
      @media screen and (max-width: 320px) {
        font-size: 16px
      }
      @media screen and (max-width: 400px) {
        margin-left: initial;
        margin-right: initial;
      }
    }
    .col-md {
      @media screen and (max-width: 768px) {
        h4 {
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 0px;
        }
      }
    }
    @media screen and (max-width:768px) {
      h4 {
        margin-bottom: 10px;
        font-size: 21px;
      }
    }
  }
  .row.head p {
    min-height: 50px;
    @media screen and (max-width:991px) {
      min-height: 70px;
    }
    @media screen and (max-width:767px) {
      min-height: 30px;
    }
  }
}

#step-07-french {
  .row.top-row {
    h4 {
      font-size: 1.3rem;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 400px) {
  .border-btm {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.button-font {
  font-family: FuturaBold, Arial, sans-serif;
}

.dsp-isp {
  max-width: 300px;
}
@media screen and (max-width: 768px){
  .form-container {
    padding: 0;
  }
}
