<div class="dialog-cont">  
  <div mat-dialog-content>
  <p *ngIf="tentStatus === 'random'">
    We’ll choose a tentmate for you! Your tenting partner will be assigned the week before event and you’ll receive the person’s name in your inbox at that time. You can still accept or send any tenting requests before June 5, 2019.
  </p>
  <p *ngIf="tentStatus === 'decline'">
    Thanks for letting us know. Please continue onto the next step to complete your Online Check-In.
  </p>
    <button *ngIf="tentStatus === 'random'" class="dialogBtn" mat-raised-button color="primary" (click)="randomTentingStatus()" cdkFocusInitial>Next</button>
    <button *ngIf="tentStatus === 'decline'" class="dialogBtn" mat-raised-button color="primary" (click)="declineTent()" cdkFocusInitial>Next</button>
  <br />
  </div>
</div>
