<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!regResponse">
  <div class="spinner-inner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container step-08" *ngIf="regResponse">
  <div class="form-container">
    <div class="row" *ngIf="tentmateStatus === false">
      <h4>Tentmate Selection</h4>


      <div *ngIf="tentingResults !== '4' && tentingResults !== '9'" class="col-md text-center">
        <button mat-raised-button class="search-btn button-font" (click)="tentSearch = true">
          Search for a tentmate
        </button>
      </div>
      <div class="col-md text-center" *ngIf="!statusSelected && tentingResults !== '4' && tentingResults !== '9'">
        <button mat-raised-button class="search-btn button-font" (click)="setRandom()">
          Select a tentmate for me
        </button>
      </div>
      <div class="col-md text-center" *ngIf="!statusSelected && tentingResults !== '4' && tentingResults !== '9'">
        <button mat-raised-button class="search-btn button-font" (click)="setDecline()">
          I don't need a tent
        </button>
      </div>
      <div class="col-md text-center" *ngIf="tentingResults === '4'">
        <p>
          <strong>You may have already received a request from someone else.
          <br />
          Please go to Participant Center to confirm.</strong>
        </p>
      </div>
      <div class="col-md text-center" *ngIf="tentingResults === '9'">
        <!-- <h4>Congratulations!</h4> -->
        <p>
          You have successfully chosen a tenting option. Please continue to the final step in Online Check-In.
        </p>
      </div>


      <div class="border-btm" *ngIf="tentSearch && tentmateStatus === false"></div>
      <div class="row search-row" *ngIf="tentSearch && tentmateStatus === false">
        <h4>Search for a Tentmate</h4>

        <!-- Search by First name -->
        <div class="form-group col-12">
          <mat-form-field class="mat-input">
            <input matInput placeholder="Search by first name:" value="{{searchFirstName}}" [(ngModel)]="searchFirstName" (keyup.enter)="getTentingSearch()">
            <button mat-button *ngIf="searchFirstName" matSuffix mat-icon-button aria-label="Clear" (click)="searchFirstName=''">
              <mat-icon>close</mat-icon>
            </button>
            <!-- <mat-error *ngIf="searchFirstName">
                Last name is <strong>required</strong>
              </mat-error> -->
          </mat-form-field>
        </div>
        <!-- Search by Last Name -->
        <div class="form-group col-12">
          <mat-form-field class="mat-input">
            <input matInput placeholder="Search by last name:" value="{{searchLastName}}" [(ngModel)]="searchLastName" (keyup.enter)="getTentingSearch()">
            <button mat-button *ngIf="searchLastName" matSuffix mat-icon-button aria-label="Clear" (click)="searchLastName=''">
              <mat-icon>close</mat-icon>
            </button>
            <!-- <mat-error *ngIf="searchLastName">
                Last name is <strong>required</strong>
              </mat-error> -->
          </mat-form-field>
        </div>
        <!-- Search by Email -->
        <div class="form-group col-12">
          <mat-form-field class="mat-input">
            <input matInput type="email" [formControl]="emailFormControl" placeholder="Search by e-mail: (Optional)" value="{{searchEmail}}" [(ngModel)]="searchEmail" (keyup.enter)="getTentingSearch()">
            <button mat-button *ngIf="searchEmail" matSuffix mat-icon-button aria-label="Clear" (click)="searchEmail=''">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="emailFormControl.hasError('email') && searchEmail != ''">
              Please enter a valid email address. (ex: name@emailaddress.com)
            </mat-error>
          </mat-form-field>
        </div>        
        <!-- Send Tentmate Optional Message -->
        <div class="form-group col-12">
          <mat-form-field class="mat-input">
            <input matInput #message maxlength="125" placeholder="Message (optional)">
            <!--          <mat-hint align="start"><strong>Optional</strong> </mat-hint> -->
            <mat-hint align="end">{{message.value.length}} / 125</mat-hint>
          </mat-form-field>
        </div>
        <button mat-raised-button class="search-btn button-font" (click)="getTentingSearch()">
          Search for Tent Mate
        </button>
      </div>
      <div class="container" *ngIf="tentingResults.getTentingSearchResponse && tentmateStatus === false">
        <div class="row results-head">
          <div class="col-8">
            <p class="text-uppercase">
              <strong>Name</strong>
            </p>
          </div>
          <!--        <div class="col-md-4">
            <p>
              <strong>Fundraising Status</strong>
            </p>
          </div> -->
          <div class="col-4">
            <p class="text-uppercase">
              <strong>Request</strong>
            </p>
          </div>
        </div>
        <div class="results-cont" *ngIf="tentingResults.getTentingSearchResponse.totalNumberResults != '1'">
          <div class="row" *ngFor="let res of tentingResults.getTentingSearchResponse.record">
            <div class="col-8">
              <a class="results-name" href="{{res.personalPageUrl}}" target="_blank">{{res.name.first}} {{res.name.last}}</a>
            </div>
            <div class="col-4">
              <button mat-raised-button class="search-btn button-font" (click)="invite(res.consId)">
                Invite
              </button>
            </div>
          </div>
        </div>
        <div class="results-cont" *ngIf="tentingResults.getTentingSearchResponse.totalNumberResults === '1'">
          <div class="row" *ngIf="tentingResults.getTentingSearchResponse.record">
            <div class="col-8">
              <a  href="{{tentingResults.getTentingSearchResponse.record.personalPageUrl}}" target="_blank">
                {{tentingResults.getTentingSearchResponse.record.name.first}} {{tentingResults.getTentingSearchResponse.record.name.last}}
              </a>
            </div>
            <div class="col-4">              
              <button mat-raised-button class="search-btn button-font" (click)="invite(tentingResults.getTentingSearchResponse.record.consId)">
                Invite
              </button>
            </div>
          </div>
        </div>
        <div class="results-cont" *ngIf="tentingResults.getTentingSearchResponse.totalNumberResults === '0'">
          <div class="row">
            <div class="col">
              <p>
                <strong>Sorry, there were no results found. Please check the information entered and try again.</strong>
              </p>
              <p>
                If you are having trouble finding your tentmate in the system, try entering just a few letters of their first or last name. Participants who have already confirmed a tentmate will not appear in the search results.
              </p>
            </div>
            <!--          <div class="col-md-4">
              <p>{{res.tentmateStatus}}</p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="border-btm" *ngIf="tentSearch && tentmateStatus === false"></div>
      <p>
        If you have already selected a tentmate, it will be listed above. Any changes must be made by calling your Ride Guides at <a class="link-black" href="tel:1-888-771-2453"><strong>[888] 771-BIKE [2453]</strong></a>.
      </p>
      <p>
        Riders have the option to stay in a tent at Camp (free of charge) on Saturday, August 24. Should you choose to stay in a tent, you may select a specific tentmate by searching for a tent mate above. If you select a tentmate during the Online Check-In process, you will receive a confirmation email only once they have accepted your invitation to tent together.
      </p>
      <p>
        If you would like us to assign you a tentmate or won’t be staying at Camp, please click the appropriate button above. Tent assignments will be emailed to you the week before the events.
      </p>
      <p>
        If you are a member of a team, you will be assigned neighbouring tents with your team members who complete Online Check-In by August 21, 2019. Any team members who do not complete Online Check-In by this date are not guaranteed to a tent near their team.
      </p>
    </div>
    <div class="container step-08" *ngIf="regResponse">
      <div class="form-container">
        <div class="row" *ngIf="tentmateStatus === true">
          <div class="col">
            <h4>Congratulations!</h4>
            <p>
              You have successfully chosen a tenting option. Please continue to the final step in Online Check-In.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row bottom-nav-row">
      <div class="form-container">
        <div class="btn-container">
          <button mat-raised-button color="accent" class="prev-btn button-font" [disabled]="!tentmateStatus" (click)="previousFlowStep()">
            Back
          </button>
          <button mat-raised-button color="primary" class="next-btn button-font" (click)="nextFlowStep()" [disabled]="nextToggle && !tentmateStatus">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
