@import '../../styles.scss';

.step-08 {
  @media screen and (max-width:380px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 5px;
  }
  h4 {
    text-align: center  !important;
    width: 100%;
    margin-bottom: 25px;
    @media screen and (max-width: 400px) {
      margin-top: 25px;
    }
  }
  .row:first-child {
    p:nth-child(3) {
      margin-bottom: 40px;
    }
  }
  .form-container {
    margin-top: 0;
    @media screen and (max-width:380px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .row {
      .col {
        @media screen and (max-width:380px) {
          max-width: 104%;
          margin-left: -2%;
        }
      }
      p {
        @media screen and (max-width:380px) {
          padding-left: 10px;
        }
      }
    }
  }
  .border-btm {
    width: 100% !important;
    margin-top: 10px !important;

  }
}

.dialog-cont {
  padding: 20px 0px 10px;
  button {
    position: relative;
    top: 20px;
  }
}


.dialogBtn {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.step-08-french {
  .tenting-col {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    .search-btn {
      max-width: 400px;
      white-space: inherit;
      height: auto;
      line-height: 1.3;
      padding: 20px;
    }
  }
}
.link-black {
  color: #000000 !important;
  text-decoration: underline;
  // font-family: FuturaBold, Arial, sans-serif;
  font-family: FuturaReg, Arial, sans-serif;
}
.row {
  margin: 0 auto;
}

p {
  padding-left: 15px
}

.mat-input {
  max-width: 350px;
}

.btn-cont {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.row {
  //margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;
  .col-md {
    margin-bottom: 40px;
  }
}

.results-head {
  background: #000;
  padding: 15px 0;
  width: 100%;
  color:#fff;
  margin-bottom: 20px;
  p {
    margin-bottom: 0px;
    @media screen and (max-width: 768px) {
      padding-left: 0px;
      font-size: 2.6vw;
    }
  }
}
.results-name {
  display:inline-block;
  padding-top: 13px;
  
}
.results-cont {
  .row {
    margin-bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .row:nth-of-type(even) {
    background-color: $gray;
  }

  a {
    font-family: FuturaReg, Helveticca, sans-serif;
    text-transform: capitalize;
    color: $black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $blue;
    }
  }
  a.inv-tent {
    padding-left: 20px;
    font-family: FuturaReg, Helveticca, sans-serif;
  }
  @media screen and (max-width: 768px) {
    .row {
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;      
      .col {
        a {
          font-size: 14px;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
      }
    }
    a.inv-tent {
      padding-left: 10px;
    }
  }
}
.inv-tent {
  cursor: pointer;
}
.button-font {
  font-family: FuturaBold, Arial, sans-serif;
}
.search-row {
  transition: all 0.2s ease-in-out;
  .search-btn {
    margin: 30px 0;
  }
}

// Mobile Styling
@media screen and (max-width: 400px) {
  .form-container {
    padding: 0;
  }
}
