@import '../../styles.scss';

.log-out {
    background: #e74c3c;
    color: #fff;
    position: absolute;
    //top: 15px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.logo {
    img {
        max-width: 160px;
        margin-left: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (max-width: 768px) {
            max-width: 150px;
        }
    }
}

nav {
    position: relative;
    padding: 15px 0;
    min-height: 100px;
}

.oc {
    background: $black;
    color: $white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;

    h2 {
        margin-bottom: 0px;
        text-transform: uppercase;

        @media screen and (max-width: 400px) {
            font-size: 24px;
        }
    }
}