<nav>
    <div class="logo">
        <a href="http://ride.conquercancer.ca/alberta19">
            <img src="{{logoUrl}}" alt="Logo">
        </a>
    </div>
    <button mat-raised-button color="warn" *ngIf="isLoggedIn()" class="log-out" (click)="data.logOut()">
        Logout
    </button>
</nav>
<div class="oc">
    <h2>Online Check-In</h2>
</div>
<br>