<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!surveyResults.getSurveyResponsesResponse">
  <div class="spinner-inner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container" id="step-03">
  <div class="row">
    <div class="col-12" *ngIf="dataService.participationType !== 'Crew'">
      <h3 class="text-center">Important Information</h3>
      <p>The following information allows us to give our Riders the best possible event
        experience. </p>
    </div>
    <div class="col-12" *ngIf="dataService.participationType === 'Crew'">
      <h3 class="text-center">Important Information</h3>
      <p>The following information allows us to give our Crew the best possible event
        experience. </p>
    </div>
  </div>
  <div class="row" *ngIf="surveyResults.getSurveyResponsesResponse">

    <form class="form-container" [formGroup]="step03Form" *ngIf="step03Form">


      <div class="survey-res" *ngFor="let res of surveyResults.getSurveyResponsesResponse.responses">

        <!-- Years attended -->
        <div class="form-group" *ngIf="res.questionId === dataService.question1">
          <p><strong>{{res.questionText}}</strong></p>

          <mat-form-field>
            <mat-select class="mat-select" placeholder="Years Attended *" [(ngModel)]="attendanceRes"
              formControlName="yearsAttended">
              <p class="change-txt">
                <small>Please make a selection:</small>
              </p>
              <mat-option *ngFor="let year of years" [value]="year.value">
                {{ year.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error-msg" *ngIf="yearError === true">
            Years attended is <strong>required</strong>
          </div>
        </div>

        <!-- Jersey sizes -->
        <div class="form-group"
          *ngIf="dataService.participationType && res.questionId === dataService.question18 && dataService.participationType !== 'Crew'">
          <p><strong>Please confirm your jersey size.* </strong><a class="txt-blue sizing-link" target="_blank"
              href="assets/images/RCCA_2019_LG_Size_Chart.png">(View sizing guide)</a></p>          

          <mat-form-field>
            <mat-select formControlName="jerseySizes" class="mat-select" placeholder="Jersey Size *"
              [(ngModel)]="jerseyRes">
              <p class="change-txt">
                <small>Please make a selection:</small>
              </p>
              <mat-option *ngFor="let jersey of jerseySelect" [value]="jersey.value">
                {{ jersey.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error-msg error-top" *ngIf="jerseyError === true">
            This is <strong>required</strong>
          </div>
        </div>

        <!-- Route -->
        <div class="form-group" *ngIf="res.questionId === dataService.question35 && dataService.participationType !== 'Crew'">          
          <p><strong>{{res.questionText}} *</strong></p>

          <mat-form-field>
            <mat-select formControlName="routeSelected" class="mat-select" placeholder="Route Selection"
              [(ngModel)]="routeRes">
              <p class="change-txt">
                <small>Please make a selection:</small>
              </p>
              <mat-option *ngFor="let route of routes" [value]="route.value">
                {{ route.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error-msg error-top" *ngIf="routeError === true">
            This is <strong>required</strong>
          </div>
        </div>

        <!-- Vegetarian -->
        <div class="form-group" *ngIf="res.questionId === dataService.question15">
          <p>
            If you require a vegetarian meal, please check this box. Gluten-free options will be available at every meal and snack area.
          </p>

          <p><strong>{{res.questionText}} *</strong></p>

          <mat-radio-group class="route-radio-group" formControlName="vegMeals" [(ngModel)]="vegRes">
            <mat-radio-button class="route-radio-button" color="primary" *ngFor="let yesNo of matSelect"
              [value]="yesNo.value">
              {{yesNo.viewValue}}
            </mat-radio-button>
          </mat-radio-group>          
          <div class="error-msg error-top" *ngIf="vegError === true">
            This is <strong>required</strong>
          </div>
        </div>        
      </div>
      
      <div class="border-btm"></div>
      
      <div class="survey-res">
        <h4>Shuttles Options</h4>
        
        <!-- Shuttle 1-->
        <div *ngIf="dataService.participationType !== 'Crew'" class="form-group">
          <p>We provide the following shuttle options to our Riders. Please select the shuttle(s) you require. Note: you must reserve your place during online check in.</p>
          <p><i>Note: Overnight parking is permitted for the entire weekend. Please park in the designated areas.</i></p>

          <p>
            <strong>Saturday, August 24</strong>
            <br />
            Are you staying at the Ramada host hotel on Friday, August 23, and need a ride to the Start Line on Saturday, August 24?
          </p>

          <mat-radio-group class="route-radio-group" formControlName="shuttle1" [(ngModel)]="shuttleRes">
            <mat-radio-button class="route-radio-button" color="primary" *ngFor="let option of matSelectQ1"
              [value]="option.value">
              {{option.viewValue}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="error-msg error-top" *ngIf="shuttle1Error === true">
            This is <strong>required</strong>
          </div>
        </div>

        <!-- Shuttle 2-->
        <div class="form-group">
          <p><strong>Shuttle from Vancouver</strong></p>

          <mat-radio-group class="route-radio-group" formControlName="shuttle2" [(ngModel)]="shuttleRes2">
            <mat-radio-button class="route-radio-button" color="primary" *ngFor="let yesNo of matSelectQ2"
              [value]="yesNo.value">
              {{yesNo.viewValue}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="error-msg error-top" *ngIf="shuttle2Error === true">
            This is <strong>required</strong>
          </div>
        </div>
        <p>NOTE: There will be no returning shuttles on Sunday from Cloverdale. <span class="bolder-font">If you are taking a shuttle, it CANNOT transport your bike. You MUST drop off your bike in Cloverdale on Friday, August 23 between 2 p.m. – 8 p.m. if taking the shuttles.</span></p>
        <p>Parking in Cloverdale is at Elements Casino and is available the whole weekend.</p>

        <!-- Shuttle 3-->
        <div *ngIf="dataService.participationType !== 'Crew'" class="form-group">
          <p>
            <strong>Sunday, August 25</strong>
            <br />
            We will provide shuttles and a separate truck for your bike from the Finish Line the Start Line in Cloverdale.
          </p>

          <mat-radio-group class="route-radio-group" formControlName="shuttle3" [(ngModel)]="shuttleRes3">
            <mat-radio-button class="route-radio-button" color="primary" *ngFor="let option of matSelectQ3"
              [value]="option.value">
              {{option.viewValue}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="error-msg error-top" *ngIf="shuttle3Error === true">
            This is <strong>required</strong>
          </div>
          <p><i>Note: The last shuttle from the Finish Line to Cloverdale Fair Grounds will be departing at 5:30 p.m. on Sunday, August 25.</i></p>
        </div>
            
      </div>

      <div *ngIf="dataService.participationType !== 'Crew'" class="border-btm"></div>

      <div class="survey-res" *ngFor="let res of surveyResults.getSurveyResponsesResponse.responses">
        <div *ngIf="dataService.participationType !== 'Crew'">
            <div class="form-group" *ngIf="res.questionId === dataService.question32">
                <h4>Packet Pick-Up</h4>
                <p>Would you like us to ship your event packet containing your event materials? </p>
                <p><i>Note: By selecting no and picking up your packet in person, you can help us save on postage fees, which means more money for cancer research and care.*</i></p>
                <mat-radio-group class="route-radio-group" formControlName="packetPickup" [(ngModel)]="packetRes">
                    <mat-radio-button class="route-radio-button" color="primary" *ngFor="let yesNo of matSelectPacket" [value]="yesNo.value">
                        {{yesNo.viewValue}}
                    </mat-radio-button>
                </mat-radio-group>
                <div class="error-msg" *ngIf="packetError === true">
                    This is <strong>required</strong>
                </div>
                <br />
                <p><i>*Note: Your Rider event materials will only be mailed to you if you complete Online Check-In by August 5. If you check in after this date, your event materials will need to be picked up at The Ride office: Suite 303 698 Seymour Street, Vancouver, Monday to Friday 10 a.m. – 4 p.m. If you need to pick up outside of these hours please call us at [888]-771-BIKE [2453].</i></p>                
                <p><i>Note: Packet Pick-up will also be available at the Cloverdale Fairgrounds on Friday August 23 between 2 p.m. – 8 p.m. and on Saturday, August 23 from 5:30 a.m. – 7 a.m. It is strongly encouraged that you retrieve your packet before this date if possible.</i></p>
            </div>
        </div>                
      </div>

      <div class="form-group" *ngIf="dataService.participationType === 'Crew'">
        <div class="border-btm"></div>
        <h4>Crew Packet Pick-up</h4>
        <p>Crew packets will not be mailed out and can be picked up at the following times and locations.</p>
        <p>
          Friday August 23
          <br />
          5 p.m. - 7:30 p.m.
          <br />
          655 Bonsor Avenue,
          <br />
          Burnaby, BC.
        </p>        
        <div class="border-btm"></div>
      </div>

    <div *ngIf="dataService.participationType !== 'Crew'" class="border-btm"></div>    
    </form>

  </div>
  <div class="row" *ngIf="surveyResults.getSurveyResponsesResponse">
    <div class="col-12">
      <div class="btn-container">
        <button mat-raised-button color="accent" class="prev-btn" (click)="previousFlowStep()">
          Back
        </button>
        <button mat-raised-button color="primary" class="next-btn" (click)="validating()">
          Next
        </button>
      </div>
      <div class="save-col">
        <a (click)="saveSurveyRes()" class="save-later float-right text-uppercase">Save For Later</a>
      </div>
    </div>
  </div>
</div>