<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!data.regResponse">
	<div class="spinner-inner">
		<mat-spinner></mat-spinner>
	</div>
</div>

<div class="container" id="step-09">
  <div class="form-container" >
    <div class="row" *ngIf="data.getConsInfo && data.regResponse">
      <div class="col-md-6">
        <h3 class="txt-blue text-uppercase">Congratulations</h3>
        <p>You have completed Online Check-In!</p>
        <br>
      </div>
      <div class="col-md-6 print-col">
        <a (click)="print()">
          <strong>Print This Screen</strong>
        </a>
      </div>
    </div>
    <div class="row" *ngIf="data.getConsInfo">
      <div class="col-md-6">
        <h4>Personal Information</h4>
        <p>
          <strong>First Name:</strong> {{data.getConsInfo.getConsResponse.name.first}}
        </p>
        <p>
          <strong>Last Name:</strong> {{data.getConsInfo.getConsResponse.name.last}}
        </p>
        <p>
          <strong>Gender:</strong> {{data.getConsInfo.getConsResponse.gender}}
        </p>
        <p>
          <strong>Address 1:</strong> {{data.getConsInfo.getConsResponse.primary_address.street1}}
        </p>
        <p>
          <strong>Address 2:</strong> <span *ngIf="data.getConsInfo.getConsResponse.primary_address.street2">{{data.getConsInfo.getConsResponse.primary_address.street2}}</span>
        </p>
        <p>
          <strong>City:</strong> {{data.getConsInfo.getConsResponse.primary_address.city}}
        </p>
        <p>
          <strong>Province:</strong> {{data.getConsInfo.getConsResponse.primary_address.state}}
        </p>
        <p>
          <strong>Postal Code:</strong> {{data.getConsInfo.getConsResponse.primary_address.zip}}
        </p>
        <p>
          <strong>Email Address:</strong> {{data.getConsInfo.getConsResponse.email.primary_address}}
        </p>
      </div>
      <div class="col-md-6 event-box">
        <h4>Event Information</h4>
        <p>
          <strong>Participation Type:</strong> {{data.participationType}}
        </p>
        <p *ngIf="data.teamName"> 
          <strong>Team Name: </strong> <span  *ngIf="data.teamName">{{data.teamName}}</span>
        </p>
        <p >
          <strong>Tentmate Status: </strong>{{data.tentStatus}}
        </p>
        <p *ngIf="data.participationType !== 'Crew' && pickup === 'Yes'">
          <strong>Rider Packet: </strong> Yes
        </p>
        <p *ngIf="data.participationType !== 'Crew' && pickup === 'No'">
          <strong>Rider Packet: </strong> No
        </p>
        <!-- <p *ngIf="data.participationType !== 'Crew' && reserve === 'true'">
          <strong>You have selected the following shuttles:</strong>
          <span class="next plus">{{shuttle1}}</span>
          <span class="next plus">{{shuttle2}}</span>
          <span class="next plus">{{shuttle3}}</span>
          <span class="next plus">{{shuttle4}}</span>          
        </p> -->
        <ul *ngIf="data.participationType !== 'Crew'">
          <li *ngIf="reserve === 'true'">
            <span class="next plus"><strong>{{shuttleQ1}}</strong></span>
            <span class="next plus">{{shuttle1}}</span>
          </li>
          <li *ngIf="reserve2 === 'true'">
            <span class="next plus"><strong>{{shuttleQ2}}</strong></span>
            <span class="next plus">{{shuttle2}}</span>
          </li>
          <li *ngIf="reserve3 === 'true'">
            <span class="next plus"><strong>{{shuttleQ3}}</strong></span>
            <span class="next plus">{{shuttle3}}</span>
          </li>          
        </ul>
        <ul *ngIf="data.participationType === 'Crew'">
          <li *ngIf="reserve2 === 'true'">
            <span class="next plus"><strong>{{shuttleQ2}}</strong></span>
            <span class="next plus">{{shuttle2}}</span>
          </li>
        </ul>
        <p *ngIf="data.participationType === 'Crew' && reserve === 'false'">
          <strong>You have selected the following shuttles: </strong>
          <br/>
          <span class="next">No shuttles selected.</span>
        </p>
        <p *ngIf="data.participationType !== 'Crew' && reserve === 'false'">
          <strong>You have selected the following shuttles: </strong>
          <br/>
          <span class="next">No shuttles selected.</span>
        </p>
        
        <p *ngIf="data.participationType !== 'Crew'">
          <strong>Jersey Size:  </strong> {{jersey}}
        </p>
        <p *ngIf="data.participationType !== 'Crew' && Vegetarian === 'Yes'">
          <strong>Vegetarian Meals:  </strong> Yes
        </p>
        <p *ngIf="data.participationType !== 'Crew' && Vegetarian === 'No'">
          <strong>Vegetarian Meals:  </strong> No
        </p>

        <p>
          <strong>Emergency Contact:</strong> {{data.emergencyName}}
        </p>
        <p>
          <strong>Emergency Contact Phone:</strong> {{data.emergencyPhone}}
        </p>
        <p>
          <strong>Years Attended: </strong> {{years}}
        </p>
        <p>
          <strong>Registration Status for The 2020 Ride: </strong> <span *ngIf="surveyResults.getSurveyResponsesResponse">{{preReg}}</span>
        </p>
      </div>
    </div>

    <div class="border-btm section-divide"></div>
    
    <div class="row section-two">
      <div class="col-xs-6 button-link">
      
      </div>
      <div class="col-xs-6 button-link">
        <a href="https://secure2.convio.net/cfrca/site/SPageServer?pagename=va19_pc&pc2_page=center&fr_id=1712" target="_blank">
          <button
            mat-raised-button
            class="search-btn button-font center-btn">
            Return to Participant Centre
          </button>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="row section-two">
      <div class="col-xs-6 button-link">
        <a href="https://secure2.convio.net/cfrca/site/SPageServer?pagename=va19_pc&pc2_page=center&fr_id=1712" target="_blank">
          <button
            mat-raised-button
            class="search-btn button-font center-btn">
            Return to Participant Centre
          </button>
        </a>
      </div>
      <div class="col-xs-6 button-link">
        <a href="http://ride.conquercancer.ca/vacouver19/event-details/" target="_blank" >
          <button
            mat-raised-button
            class="search-btn button-font center-btn button-event">
            Event Details
          </button>
        </a>
      </div>
    </div>
  </div> -->
</div>
