@import '../../styles.scss';

#step-09,
#step-09-french {

  .row {
    &:first-child {
      h3 {
        font-size: 2.3rem;
        @media screen and (max-width: 768px) {
          font-size: 2.0rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 6.85vw;
          text-align: center;
        }
      }
      p {
        @media screen and (max-width: 400px) {
          text-align: center;
        }
      }
      margin-bottom: 25px;
    }
  }

  h4 {
    margin-bottom: 20px;
  }

  button {
    margin: 30px 0;
  }
  a {
    color: $black;
    display: block;
    cursor: pointer;
    -moz-cursor: pointer;
    -ms-cursor:pointer;
  }

  ul {
    margin-left: -21px;
  }
  .search-btn {
    border: 2px solid #000 !important;
    color: #000 !important;
    max-width: 350px !important;
  }
  .button-link {
    width: 50%;
    @media screen and (max-width: 845px) {
      width: 100%;
      margin-bottom: 20px;
    }
    &:last-child {
      @media screen and (max-width: 845px) {
        margin-bottom: initial;
      }
    }
  }
  .next.plus {
    display: block;
  }
  .center-btn {
    display: block;
    margin: 0 auto;
  }
  .txt-grey {
    strong {
      color: $black;
      text-transform: uppercase;
    }
  }
  .button-event {
    max-width: 350px;
    width: 100%;
  }
  @media screen and (max-width: 380px) {
    .section-two .button-link {
      width: 100% !important;
      margin-bottom: 25px !important;
    }
  }
  .print-col {
    margin-bottom: 25px;
    a {
      text-decoration: underline;
      text-align: right;
      @media screen and (max-width: 768px) {
        text-align: left;
      }
      @media screen and (max-width: 400px) {
        text-align: center;
      }
    }
  }

  .event-box {
    @media screen and (max-width: 768px) {
      margin-top: 50px;
    }
  }

  .section-divide {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .button-font {
    font-family: FuturaBold, Arial, sans-serif;
  }
  .pick-up-packet {
    .packet-box {
      .region-name {
        font-size: 1.5rem;
        color: #0075c9;
        margin-top: 50px;
        margin-bottom: 0;

      }
    }
    .packet-info {
      margin-top: 60px;
      margin-bottom: 40px !important;
    }
    .packet-box p {
      margin-bottom: 30px;
    }
  }

}

