<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!dataService">
    <div class="spinner-inner">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="dataService" class="container" id="login-container">
    <div class="row justify-content-md-center align-self-center">
        <div class="col-12 col-md-6">
            <div class="login-form-container">
                <h2 class="text-center">Welcome</h2>
                <p>Thank you for checking in to the Ride to Conquer Cancer<sup>&reg;</sup> Presented by Wheaton Precious Metals<sup>™</sup> benefiting the BC Cancer Foundation. We’re excited to see you here!</p>
                <p>During Online Check-In, please feel free to modify your information, make self pledges and more. For the smoothest check-in experience, we recommend you use <a href="https://www.google.com/chrome/" target="_blank">Google Chrome.</a> </p>
                <br />
                <p>Please enter: </p>
                <form id="ssoForm" [formGroup]="loginForm">
                    <div class="form-group">
                        <mat-form-field class="mat-input">
                            <input required matInput placeholder="Username..." [(ngModel)]="dataService.username" [errorStateMatcher]="matcher" formControlName="username">
                        </mat-form-field>
                        <div class="error-msg" *ngIf="userError === true">
                            Please enter your Username
                        </div>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="mat-input">
                            <input required matInput [type]="hide ? 'password' : 'text'" placeholder="Password..." [(ngModel)]="dataService.password" [errorStateMatcher]="matcher" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <div class="error-msg" *ngIf="passError === true">
                            Please enter your Password
                        </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="validating()">
                        Login
                    </button>
                    <a class="fgpass" href="https://secure.conquercancer.ca/site/UserLogin?CMD=ForgotPassword">
                        Forgot Password?
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>