@import '../../styles.scss';

#login-container,
#login-container-fr {
    margin-top: -20px;

    .row {
        height: auto;
    }

    .login-form-container {
        position: absolute;
        top: 25px;
        width: 100%;

        @media screen and (max-width: 768px) {
            position: relative;
            transform: none;
            top: 0px;
        }
    }
}

.btn-blue {
    background-color: #0075c9;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0;
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #008df2;
    }

    &:active {
        background-color: #005693;
    }
}

#locale-check {
    margin-top: 60px;

    p {
        color: #909090;
        font-size: 30px;
        margin-bottom: 40px;
    }

    button.mat-raised-button.mat-primary {
        max-width: 300px;
        margin: 20px;

        @media screen and (max-width: 768px) {
            margin: auto;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: inherit;
    }

    @media screen and (max-width: 400px) {
        h3 {
            font-size: 7.5vw;
        }

        p {
            font-size: 6vw;
        }
    }
}

.mat-input {
    width: 100%;
}

.fgpass {
    margin-top: 20px;
    color: #a0a0a0;
    text-align: center;
    display: block;
}

.font-front {
    font-size: 1.45em;
}

mat-icon {
    cursor: pointer;
}