<app-stepper></app-stepper>
<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!surveyResults">
	<div class="spinner-inner">
		<mat-spinner></mat-spinner>
	</div>
</div>

<div class="container" id="step-06" *ngIf="data">
  <div class="row">
    <div class="form-container">
      <h3>Register Now for 2020!</h3>
    </div>
  </div>

  <div class="row" >

    <form class="form-container" [formGroup]="upsellForm" *ngIf="surveyResults.getSurveyResponsesResponse">
      <div class="survey-res">
        <div class="form-group">
          <p>
            Now is the perfect time to renew your commitment to this historic journey. Join us for the 2020 Ride August 29 – 30, 2020 at a special early registration rate of just $25! That will secure your spot and you’ll receive a free commemorative long-sleeve t-shirt on event morning.
          </p>
          <p>
            Want to go the extra distance? Consider a donation with your 2020 registration.
          </p>
          <p>
            <i>NOTE: If you choose to pre-register now and have met your fundraising minimum, the payment link will appear after clicking 'NEXT'.</i>
          </p>
          <mat-radio-group class="route-radio-group" formControlName="upsellSelect" [(ngModel)]="upsellResults">
            <mat-radio-button
              required
              class="route-radio-button"
              color="primary"
              *ngFor="let upsell of upsells"
              [value]="upsell.value">
              {{upsell.viewValue}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="row">
    <div class="form-container">
      <img class="img-fluid" src="assets/images/RCTO_Upsell_Image.jpg" alt="Upsell Pre-Reg">
    </div>
  </div> -->
  <div class="row">
    <div class="form-container" *ngIf="surveyResults">
      <p>
        Renew your commitment to conquering cancer today!
      </p>
      <!-- <p>
        <i>Please note: Registration promotions are only available for participants who register as a Rider for the 2020 Ride to Conquer Cancer® Presented by Wheaton Precious Metals<sup>™</sup></i>
      </p> -->
    </div>
  </div>

  <!-- <div class="row">
    <div class="form-container">
      <small>
        **Date of trip at PMCF discretion, winner must be available to travel any one of the dates indicated.
      </small>
    </div>
  </div> -->

  <div class="row bottom-nav-row" *ngIf="surveyResults">
    <div class="form-container">
      <div class="btn-container">
        <button mat-raised-button color="accent" class="prev-btn button-font" (click)="previousFlowStep()">
          Back
        </button>
        <button
          mat-raised-button
          color="primary"
          class="next-btn button-font"
          (click)="updateSurveyRes()"
          [disabled]="upsellForm.invalid">
          Next
        </button>
      </div>
      <div class="save-col">
        <a (click)="saveSurveyResponses()" class="save-later float-right text-uppercase">Save For Later</a>
      </div>
    </div>
  </div>
</div>
