
<div class="dialog-cont">
  <h1 *ngIf="dataService" mat-dialog-title class="dialog-h1">
    Welcome, {{dataService.firstName}}!
  </h1>
  <div mat-dialog-content>
    <p>
      <strong>Five easy first steps to a smoother Ride</strong>
    </p>
    <ul>
      <li>
        Use <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> for an optimal check-in experience
      </li>
      <li>
        Review and complete your online profile
      </li>
      <li>
        Be sure to enter your emergency contact information
      </li>
      <li>
        Watch our mandatory safety video
      </li>
      <li>
        Not quite at the finish line for fundraising? Please enter your credit card information for an instant or delayed self-pledge:
        <ul>
          <li><strong>Instant Self-Pledge: </strong>Make a self-donation to complete the minimum fundraising goal now.</li>
          <li *ngIf="dataService.participationType !== 'Crew'"><strong>Delayed Self-Pledge: </strong>Or simply commit to raising the minimum fundraising goal by October 24, 2019 with a $2 donation on your credit card. Your credit card information will then be securely stored until October 24, 2019, when the balance will be charged to your account. </li>
        </ul>
      </li>      
    </ul>    
    <button color="primary" mat-raised-button (click)="onNoClick()">Close</button>
  </div>
</div>

<!-- Crew Text -->
<!-- <div class="dialog-cont" *ngIf="dataService.participationType === 'Crew'">
  <h1 *ngIf="dataService" mat-dialog-title class="dialog-h1">
    Welcome, {{dataService.firstName}}!
  </h1>
  <div mat-dialog-content>
    <p>
      This automated check-in process is designed to save you time and make event check-in easier than ever! Here is what you'll need to do:
    </p>
    <ul>
      <li>
        Review your online profile. You will need to complete this step first to confirm your information for the weekend.
      </li>
      <li>
        Enter your emergency contact information.
      </li>
      <li>
        Watch our mandatory safety video.
      </li>
    </ul>
    <button color="primary" mat-raised-button (click)="onNoClick()">Close</button>
  </div>
</div>
 -->