<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!dataService">
  <div class="spinner-inner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container" id="step-02" *ngIf="dataService">
  <div class="row">
    <div class="col-12">
      <div class="pg-container">
        <h3 class="update-intro">Update Your Information</h3>
      </div>
    </div>
    <div class="col-12" *ngIf="hasPhoto === true">
      <div class="image-cropper">
        <img class="text-center" src="{{personalPhotoUrl}}" alt="Personal Photo">
      </div>
    </div>
  </div>
  <div class="row" *ngIf="consData">
    <form class="form-container" [formGroup]="step02Form" *ngIf="step02Form">
      <div class="form-group">
        <p>To get started, please review your contact information below.</p>
        <p>You are registered as a <strong>{{ dataService.participationType }}</strong>.</p>        
        <p>To change your status, call one of the Ride Guides at <strong>[888] 771-BIKE [2453]</strong>.</p>
      </div>
      <div class="form-group" *ngIf="dataService.teamName">
        <p class="font-bold">
          Team name: {{ dataService.teamName }}
        </p>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="mat-input">
            <input [errorStateMatcher]="matcher" matInput required placeholder="First Name" pattern="[a-zA-Z ]*"
              value="{{firstName}}" [(ngModel)]="firstName" formControlName="firstName">
            <button mat-button *ngIf="firstName" matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="error-msg" *ngIf="firstNameError === true">
            Please enter a first name
          </div>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="mat-input">
            <input [errorStateMatcher]="matcher" matInput required placeholder="Last Name" pattern="[a-zA-Z ]*"
              value="{{lastName}}" [(ngModel)]="lastName" formControlName="lastName">
            <button mat-button *ngIf="lastName" matSuffix mat-icon-button aria-label="Clear" (click)="lastName=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="error-msg" *ngIf="lastNameError === true">
            Please enter a last name
          </div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="mat-input">
          <!-- <input matInput required placeholder="Street Address Line 1" pattern="[a-zA-Z0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*" value="{{primaryAddress1}}" -->
          <input matInput required placeholder="Street Address Line 1" value="{{primaryAddress1}}"
            [(ngModel)]="primaryAddress1" formControlName="liveAddress1">
          <button mat-button *ngIf="primaryAddress1" matSuffix mat-icon-button aria-label="Clear"
            (click)="primaryAddress1=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="error-msg" *ngIf="streetError === true">
          Please enter a street address
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="mat-input">
          <input matInput placeholder="Street Address Line 2" value="{{primaryAddress2}}" [(ngModel)]="primaryAddress2" pattern="[0-9]+"
            formControlName="liveAddress2">
          <button mat-button *ngIf="primaryAddress2" matSuffix mat-icon-button aria-label="Clear"
            (click)="primaryAddress2=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="mat-input">
          <input matInput required placeholder="City" value="{{primaryCity}}" [(ngModel)]="primaryCity"
            formControlName="liveCity">
          <button mat-button *ngIf="primaryCity" matSuffix mat-icon-button aria-label="Clear" (click)="primaryCity=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="error-msg" *ngIf="cityError === true">
          Please enter a City
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="mat-input">
            <input matInput required placeholder="Province/State" value="{{primaryState}}" [(ngModel)]="primaryState"
              formControlName="liveState">
            <button mat-button *ngIf="primaryState" matSuffix mat-icon-button aria-label="Clear"
              (click)="primaryState=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="error-msg" *ngIf="provinceError === true">
            Please enter a Province
          </div>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="mat-input">
            <input matInput required placeholder="Postal/Zip Code" value="{{primaryZip}}" [(ngModel)]="primaryZip"
              formControlName="liveZip">
            <button mat-button *ngIf="primaryZip" matSuffix mat-icon-button aria-label="Clear" (click)="primaryZip=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="error-msg" *ngIf="zipError === true">
            Please enter a Postal Code/Zip
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <p>
            <strong>Please select your gender:</strong>
          </p>
          <mat-radio-group class="route-radio-group" formControlName="genderSelect" [(ngModel)]="gender">
            <mat-radio-button class="route-radio-button" color="primary" *ngFor="let gender of genderSelecter"
              [value]="gender.value">
              {{gender.viewValue}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="error-msg" *ngIf="genderError === true">
            Please enter a gender 
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="form-container">
      <div class="border-btm"></div>
    </div>
  </div>
  <div class="row" *ngIf="consData">
    <div class="col-12">
      <div class="btn-container">
        <button mat-raised-button color="primary" class="next-btn button-font" (click)="validating()">
          Next
        </button>
      </div>
      <div class="save-col">
        <a (click)="updateUserSave()" class="save-later float-right text-uppercase">Save For Later</a>
      </div>
    </div>
  </div>
</div>