<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!data">
	<div class="spinner-inner">
		<mat-spinner></mat-spinner>
	</div>
</div>

<div class="container" id="step-04" *ngIf="data">
	<div class="row">
		<form class="form-container" [formGroup]="healthForm">
			<h3 class="text-center">Health Information</h3>
			<p>Please enter your emergency contact information:</p>
			<div class="form-group">
					<mat-form-field class="mat-input">
					  <input
						(keyup.enter)="updateReg()"
						required
						matInput
						placeholder="Emergency Contact Full Name"
						value="{{data.emergencyName}}"
						formControlName="emergencyName"
						[(ngModel)]="emergencyName">					  
					  <button mat-button *ngIf="emergencyName" matSuffix mat-icon-button aria-label="Clear" (click)="emergencyName=''">
						  <mat-icon>close</mat-icon>
						</button>          
					</mat-form-field>
					<div class="error-msg" *ngIf="nameError === true">
					  Name is <strong>required</strong>
					</div>
				  </div>
			
				  <div class="form-group">
					<mat-form-field class="mat-input">
					  <input
					  	pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
						(keyup.enter)="updateReg()"
						matInput
						required
						type="tel"
						minlength="5"
						placeholder="Emergency Contact Phone #"
						value="{{data.emergencyPhone}}"
						formControlName="emergencyPhone"
						[(ngModel)]="emergencyPhone">					  
					  <button mat-button *ngIf="emergencyPhone" matSuffix mat-icon-button aria-label="Clear" (click)="emergencyPhone=''">
						  <mat-icon>close</mat-icon>
						</button>            
					</mat-form-field>
					<div class="error-msg" *ngIf="numError === true">
					  Phone number is <strong>required</strong>
					</div>
				  </div>
			
		</form>
	</div>



	<div class="row">
	
		<form class="form-container" [formGroup]="healthForm">
				<p>
					We collect insurance information in case of an emergency. This is not mandatory. For more information, please call us at <a class="link-black" href="tel:1-888-771-2453">[888]-771-BIKE [2453]</a>.
					</p>	
			<div class="form-group">
				<mat-form-field class="mat-input">
					<input id="healthInsName" matInput placeholder="Health Insurance Company Name:" value="{{healthInsName}}"
					[(ngModel)]="healthInsName" formControlName="healthName">
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field class="mat-input">
					<input id="healthInsNumber" matInput placeholder="Health Insurance Policy Number:" value="{{healthInsNumber}}"
					[(ngModel)]="healthInsNumber" formControlName="healthNumber">
				</mat-form-field>
			</div>
		</form>
	</div>

	<div class="form-container">
		<div class="border-btm"></div>
	</div>

	<div class="row bottom-nav-row">
		<div class="form-container">
			<div class="btn-container">
				<button mat-raised-button color="accent" class="prev-btn mat-accent" (click)="previousFlowStep()">
					Back
				</button>
				<button mat-raised-button color="primary" class="next-btn mat-primary" (click)="validating()">
					Next
				</button>
			</div>
			<div class="save-col">
				<a (click)="saveForLater()" class="save-later float-right text-uppercase">Save For Later</a>
			</div>
		</div>
	</div>
</div>
