@import '../../styles.scss';

.bottom-nav-row {
  margin-top: 40px;
}

.prev-btn {
  margin-right: 30px;
}

.button-font {
  font-family: FuturaBold, Arial, sans-serif;
}

#step-04 {
  h3 {
    margin-bottom: 25px;
    @media screen and (max-width: 400px) {
      margin-bottom: 0;
    }
  }
  strong {
    a {
      color: #0075c9;
    }
  }
}

.form-container {
  margin-top: 0;
}
.link-black {
  color: #000000 !important;
  text-decoration: underline;
  // font-family: FuturaBold, Arial, sans-serif;
  font-family: FuturaReg, Arial, sans-serif;
}
